.span-24.last
  %h1 Home Page.
.span-24.last
.span-3
  %h4 .
.span-18
%table
  %tr
    %th image_url
    %th Name

  - @diseases.each do |disease|
    %tr
      %td= link_to image_tag(disease.image_url,), disease 
      %td= disease.name
%br

= link_to 'New Disease', new_disease_path