#header_tall
  #main
    / header
    #header
      .h_logo1
        .left
          %img{:alt => "", :src => "../images/logoSmallWhite.png"}/
          %br/
        .clear
    #menu
      =  render 'layouts/menu1'
