#menu
  %ul
    = {link_to_unless_current "Daily Adds",   :controller => "planks", :action => :index}
    |
    \#{link_to_unless_current "Weekly Adds",  :controller => "trims",  :action => :index} |
    \#{link_to_unless_current "Deal Finders", :controller => "studs",  :action => :index}