#menu
  %ul
    = button_to 'Daily Adds',   :controller => 'planks', :action => :index
    |
    \#{button_to 'Weekly Deals', :controller => 'trims',  :action => :index} |
    \#{button_to 'Deal Finders', :controller => 'studs',  :action => :index}