#menu
  .rightbg
    .leftbg
      .padding
        %ul
          %li
            %a{:href => "nav.html"} Home
          %li
            %a{:href => "tests.html"} Tests
          %li
            %a{:href => "survey.html"} Survey
          %li
            %a{:href => "links.html"} Links
          %li.last
            %a{:href => "contact.html"} Contact
        %br.clear/